pipeline/Copy_Upsert_Table.json
{
	"name": "Copy_Upsert_Table",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CustomerID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CustomerID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "CompanyName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CompanyName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SalesPerson",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SalesPerson",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Logic_app_source_Customer",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Logic_app_sink_Customer_table",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "dfdf",
							"value": {
								"type": "Object",
								"content": "@activity('Copy data1').error.message"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"annotations": []
	}
}